@import '../../styles/mixins';

.home-default-page {
  text-align: center;
  .app {
    text-align: center;
  }
  .applogo {
    margin: -11px;
    float: left;
    height: 130px;
    border-radius:20px;
  }
  
  .app-logo {
    animation: app-logo-spin infinite 10s linear;
    height: 80px;
  }

  .rekit-logo {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.08;
    height: 190px;
  }

  .app-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    overflow: hidden;
    position: relative;
  }

  .app-title {
    font-size: 1.5em;
  }

  .app-intro {
    font-size: large;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul {
    margin-top: 20px;
  }
  li {
    margin-top: 10px;
  }

  a {
    color: #0288d1;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  p.memo {
    width: 500px;
    color: #999;
    font-size: 12px;
    line-height: 150%;
    margin: auto;
  }
  .selectDrop {
    width: 20%;
    margin-top: 1%;
    padding: 10px;
  }
  .version{
    float: right;
  }

  @keyframes app-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .card-columns .card {
    display: inline-block;
    width: 80%;
    flex-direction:row;
  }
  .card {
    border-radius: 1.1rem;
    margin-bottom: 10px;
  }
  .card-img, .card-img-top {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
}
